#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-y: hidden;
}
.non_jim_mobile #simulation {
  overflow-y: hidden;
}
.web #simulation {
  overflow-y: hidden;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}