#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-y: hidden;
}
.non_jim_mobile #simulation {
  overflow-y: hidden;
}
.web #simulation {
  overflow-y: hidden;
}
#s-bf212d3a-87d9-44cf-82e1-fda3a390aef4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}