#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_3 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_5 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_7 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Triangle_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_31 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -9px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_32 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -10px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_33 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -10px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_34 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -10px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_35 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -10px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_36 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8191520442889916,M12=0.5735764363510465,M21=-0.5735764363510465,M22=0.8191520442889916);
  margin-left: -1px;
  margin-top: -10px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-y: hidden;
}
.non_jim_mobile #simulation {
  overflow-y: hidden;
}
.web #simulation {
  overflow-y: hidden;
}
#s-83550280-c8e2-4562-bbb3-1ecc7c081598 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}