#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-9ed38f09-e1e2-446f-a528-26f4ea8f238e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}