#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Title_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_6 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c749b801-3a93-4765-b6ca-eb13df990a4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}