#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Title_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb323ebf-826f-4e64-94a1-e2c7d0271f20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}